body{
	margin-left:auto;
	margin-right:auto;
	padding:20px 20px 20px 20px;	
}
header {
	border:black;
	height:50px;
	text-align:center;
	padding-top:15px;
}
h1{
	height:50px;
	margin-bottom:0; 
	margin-top:0;
	font-family:Georgia, Times New Roman, Serif;
}
.rainbowtext{
	background-image:linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
nav{
	background-color: #FFFFFF;
	font-weight:bold;
	text-align:center;
	font-size:125%;
	padding:1em;
	font-weight:bold;
	border-style:solid;
	border-color:black;
	box-shadow:1px 2px 2px #333333;
	text-transform:uppercase;
}
nav a{
	text-decoration:none;
}
.link{
	padding-left:15px;
	padding-right:15px;
}
.link1{
	float:left;
	padding-left:15px;
	padding-right:15px;
}
.dropbutton{
	text-transform:uppercase;
	border:none;
	font-size:20px;
	background-color:#FFFFFF;
	font-weight:bold;
}
.droplist{
	display:none;
	position: absolute;
	background-color:#FFFFFF;
	min-width:155px;
	box-shadow:0px 16px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}
.droplist a{
	color:#340258;
	padding:10px 15px;
	text-decoration:none;
	display: block;
}
.droplist a:hover{
	background-color:#FF66FF;
}
.link1:hover .droplist{
	display: block;
}
.link1:hover .dropbutton{
	background-color:#00CCFF;
	padding:5px 5px 5px 5px;
}
.link2{
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	font-family:arial;
}
.link3{
	float:right;
	padding-left:15px;
	padding-right:15px;
	font-family:arial;
}
.home{
	padding:20px 30px 20px 30px;
	background-image:url(abstract-2.jpg);/*https://pixabay.com/illustrations/background-art-abstract-watercolor-3590608/*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	min-height:1000px;
	max-height:2000px;
	font-size:200%;
	font-weight:bold;
	font-family:Arial,Sans-serif;
	text-align:justify;
}